@use '../../../styles/variables' as vars;


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-post-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    border: 1px solid vars.$white-300;
    border-radius: 8px;
    background: vars.$white-900;
    width: 582px;
    height: auto;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.input-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-area-wrapper {
    border-bottom: 1px solid vars.$white-400;
}

.add-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 16px;

}

.add-media-button {
    border: none;
    background: transparent;
    color: vars.$neutral-800;

    &:hover {
        color: vars.$primary-700;
    }
}

.post-button {
    background-color: vars.$primary-900;

    &:hover {
        background-color: vars.$primary-700;
    }
}