// Primary colors
$primary-900: #4c68d5;
$primary-800: #6174d9;
$primary-700: #7381dd;
$primary-600: #858ee1;
$primary-500: #959ce5;
$primary-400: #a5a9e9;
$primary-300: #b4b7ed;
$primary-200: #c3c5f1;
$primary-100: #e1e2f8;

// Neutral colors
$neutral-900: #0c1024;
$neutral-800: #27364b;
$neutral-700: #39465a;
$neutral-600: #4b5669;
$neutral-500: #5d6778;
$neutral-400: #707988;
$neutral-300: #838b98;
$neutral-200: #979da9;
$neutral-100: #abb0b9;

// Neutral-white colors
$neutral-white-200: #f1f4f9;
$neutral-white-300: #ecf0f5;
$neutral-white-900: #ffffff;
// Semantic colors

$green-900: #036b30;
$green-800: #2a7841;
$green-700: #428553;
$green-600: #589264;
$green-500: #6da076;
$green-400: #81ad89;
$green-300: #96ba9c;
$green-200: #bfd6c2;
$green-100: #d4e3d6;

$red-900: #b81616;
$red-800: #c23729;
$red-700: #cc4f3c;
$red-600: #d46450;
$red-500: #dd7864;
$red-400: #e48b78;
$red-300: #eb9f8e;
$red-200: #f5c5ba;
$red-100: #fad8d0;

$yellow-900: #e4a704;
$yellow-800: #e8af2f;
$yellow-700: #edb648;
$yellow-600: #f0be5e;
$yellow-500: #f4c673;
$yellow-400: #f7ce87;
$yellow-300: #f9d69b;
$yellow-200: #fcdeaf;
$yellow-100: #feeed7;

//white

$white-400: #e2e8f0;
$white-300: #ecf0f5;
$white-200: #f1f4f9;
$white-100: #fafbff;
$white-900: #ffffff;

// FONTS
$h1: 40px;
$h2: 32px;
$h3: 24px;
$h4: 18px;
$h5: 16px;
$h5: 14px;
