$bgColorPrimary: #fff;
$bgColorSecondary: #f4ebff;
$buttonColor1: #d6bbfb;

// Primary colors
$primary-900: #4c68d5;
$primary-800: #6174d9;
$primary-700: #7381dd;
$primary-600: #858ee1;
$primary-500: #959ce5;
$primary-400: #a5a9e9;
$primary-300: #b4b7ed;
$primary-200: #c3c5f1;
$primary-100: #e1e2f8;

// Neutral colors
$neutral-900: #0c1024;
$neutral-800: #27364b;
$neutral-700: #39465a;
$neutral-600: #4b5669;
$neutral-500: #5d6778;
$neutral-400: #707988;
$neutral-300: #838b98;
$neutral-200: #979da9;
$neutral-100: #abb0b9;

// Semantic colors
