@use '../styles/variables' as vars;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 1920px;
    width: 100%;
    background-color: vars.$white-100;

    &.regular {
        font-weight: 400; // Regular
    }

    &.medium {
        font-weight: 500; // Medium
    }
}

button {
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
}

.ant-btn {
    font-family: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}
