.authButton {
    background-color: #d6bbfb;
    color: #fff;
    border: none;
    border-radius: 128px;
    padding: 15px 200px;

    cursor: pointer;
    font-size: 24px;
    text-align: center;
    font-weight: bold;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(175, 128, 255, 0.8);
    }

    &:active {
        background-color: rgba(175, 128, 255, 1);
    }
}
