@use '../../../styles/variables' as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: vars.$neutral-white-900;
  height: 64px;
  border: 1px solid vars.$neutral-white-300;
}

.logo {
  display: flex;
  align-items: center;
}

.logoMark {
  width: 40px;
  height: 40px;
  margin-top: 15px; 
}

.title {
  font-size: 20px;
  color: vars.$neutral-900;
}

.right {
  display: flex;
  align-items: center;
}


.searchInput {
  width: 582px;
  

  .ant-input-affix-wrapper {
    border-color: vars.$neutral-white-300;
    transition: all 0.3s;
    
    &:hover {
      border-color: vars.$neutral-900;
    }
    

    .ant-input-prefix {
      .anticon {
        color: vars.$neutral-500;
        transition: color 0.3s;
      }
      
      &:hover .anticon {
        color: vars.$neutral-900;
      }
    }
  }
  

  .ant-input {
    &:hover {
      border-color: vars.$neutral-900;
    }
    
    &:focus {
      border-color: vars.$neutral-900;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }
  }
}

.userIcon {
  margin-top: 25px;
}

.searchIcon {
    border: none; 
}
