.container {
    text-align: center;
    padding: 60px 20px;
    background-color: #F4EBFF;
}

.top-section-title {
    font-size: 36px;
    font-weight: 700;
    color: #42307D;
    margin-bottom: 12px;
}

.top-section-text {
    font-size: 16px;
    color: #6941C6;
    margin-bottom: 24px;
}

.input-wrapper {
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background-image: url('../../assets/IconSearch.svg');
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
    }
}